h1 {
    text-align: center;
    max-width: 400px;
    margin: 2rem auto;
}

.action-button {
    background-color: rgb(110,255,255);
    padding: 0.25rem 0.25rem;
    border-radius:  8px;
    width: 100%;
    transition: all 01s ease;
    cursor: pointer;
    font-size: 1rem;
}

.action-button:active{ 
transform: scale(0.98) translateY(1px);
background-color: #00d4d4;

}

form{
    border: 1px solid grey;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(193,212,255);
}

.form-control {
    margin-bottom: 1rem;
}

.form-control input {
    width: 100%;
    height: 2rem;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 1em;
    box-sizing: border-box;
}

.form-control input:focus{
    outline: none; 
    border-color:lightblue ;
}

form a{
    text-decoration: None;
    color: rgb(80,50,200);
}

.error-message {
    color: red;
    font-size: 2rem;
}