body{
    background-color:  rgb(198, 220, 255);
    /* font-family: 'Caveat', cursive; */
}

/* Change only the font of the input boxes */
input, textarea, select {
    font-family: 'Segoe UI', sans-serif;
}
